#help {
    padding: 8px;
}

#main-pane {
    /*top: 45px;
    bottom: 0;
    left: 220px;
    overflow: auto;*/
}

#side-pane {
    /*width: 200px;
    right: auto;
    overflow: auto;
    background: #eee;
    border-right: 1px solid #999;
    background: #ddd;*/
}

/*.tag {
    cursor: pointer;
    float: left;
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    position: relative;
	}*/

#groups {margin-bottom:10px;}

#groups .group {
    padding: 0;
}

#groups .selected {
    font-weight: bold;
}

#groups .group-name {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

#createGroup {
    padding:0;
}

#group-list > :last-child a {}

#createGroup input {
    width: 180px;
}

#new-post-box {
	margin: 10px;
    height: 40px;
}

#new-post {

}

#items-view {
    margin-top: 5px;
    margin-left: 5px;
}

#item-group .post {
    display: block;
    height: 50px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#item-group .post .destroy {
    cursor: pointer;
}

#item-group .post .display, #item-group .post .edit {
    margin-left: 30px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 20px;
    line-height: 1;
}
.display {width:100%;}

#post-input {
    width: 300px;
    position: relative;
    top: -3px;
}

#item-group .done .post-text {
    text-decoration: line-through;
    color: #999;
}

#item-group .post:hover .destroy {
    background: url('/img/destroy.png') no-repeat 0 0;
}

#item-group .post .destroy:hover {
    background-position: 0 -20px;
}

#item-group .post .post-text {
    margin-left: 10px;
    font-size: 100%;
}

#item-group .post .edit input {
    margin-left: 35px;
}

#login-buttons {
	margin: 0 auto;
	margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

#microgroups-description {
-webkit-font-smoothing: antialiased;
color: #6F6F6F;
direction: ltr;
display: block;
font-family: OpenSans;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: 22px;
margin:0 15px 10px 15px !important;
}

/*#microgroups-description p,h4,h5 {
    text-align:center;
}*/

#greeting {text-align:left;}
#post-form {margin:0;text-align:center;}
#post-form #new-post-box {margin:10px 0;}
#post_item_inner {text-align:left;}
